.BotonOrigen{
    justify-content: center;
    align-items: center;
    /* background-color: cornflowerblue; */
    background-image: url("./cabezera.jpg");
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 1rem;
}

.botonDestino{
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: cornflowerblue; */
    background-image: url("./cabezera.jpg");
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 250px;
    margin: 1rem;
}

.text1{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Courier, monospace;
    color: white;
    text-decoration: none;

}

.text2{
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

.cabezera{
    color: black;
    flex-direction: column;
}

.div{
    display: flex;

}

.form{
    display: flex;
    flex-direction: column;
}